 a{ 
        text-decoration: underline;
        color: inherit;
        font-weight: bold;
        color: #253342;
      }
      
		h1{
        font-size: 60px;
		font-family: Trebuchet MS;
		font-weight: 300;
		color: #383c5c;
		text-align: center;
      }
      
        h2{
        font-size: 45px;
        font-weight: 250;
		color: #383c5c;
		font-family: Trebuchet MS;		
		text-align: center;
      }
	  
	    h3{
        font-size: 35px;
        font-weight: 200;
		color: #383c5c;
		font-family: Trebuchet MS;		
		text-align: center;
      }
      
      p {
        font-weight: 100;
		font-size: 20px;
		font-family: Trebuchet MS;
		font-weight: 300;
		color: #383c5c;
		text-align: center;
		padding-left: 250px;
		padding-right: 250px;
      }
      
	  .verticalcenter{
	  display: block;
	  margin: 0px auto;
	  }
	  
	  hr {
		color:#d3d3d3 ;
		width: 80% ;
	  }
	  


	button{
		align-items: center;
		background-clip: padding-box;
		background-color: #36454f;
		border: 1px solid transparent;
		border-radius: .25rem;
		box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
		box-sizing: border-box;
		color:#FFFFFF;
		cursor: pointer;
		display: inline-flex;
		font-family: Helvetica;
		font-size: 16px;
		font-weight: 600;
		justify-content: center;
		line-height: 1.25;
		margin: 0;
		min-height: 3rem;
		padding: calc(.875rem - 1px) calc(1.5rem - 1px);
		text-decoration: none;
		transition: all 250ms;
		user-select: none;
		-webkit-user-select: none;
		touch-action: manipulation;
		vertical-align: baseline;
		width: auto;
		}
		
a{
	text-decoration: none;
	color:#000 ;
}
.wrapper .button {
  display: inline-block;
  height: 60px;
  width: 59px;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px #000;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover {
  width: 200px;
}
.wrapper .button .icon{
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1):hover .icon{
  background: #4267B2;
}
.wrapper .button:nth-child(2):hover .icon{
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,
	#dc2743 50%,#cc2366 75%,#bc1888 100%);
}
.wrapper .button:nth-child(3):hover .icon{
	background: #1DA1F2;
}
.wrapper .button:nth-child(4):hover .icon{
  background: #0077b5;
}
.wrapper .button:nth-child(5):hover .icon{
  background: #29465B;
}
.wrapper .button .icon i{
  font-size: 25px;
  line-height: 60px;
  text-align: center;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i{
  color: #fff;
}
.wrapper .button span{
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span{
  color: #4267B2;
}
.wrapper .button:nth-child(2) span{
  color: #1DA1F2;
}
.wrapper .button:nth-child(3) span{
  color: #E1306C;
}
.wrapper .button:nth-child(4) span{
  color: #333;
}
.wrapper .button:nth-child(5) span{
  color: #ff0000;
}

.footer {
   left: 0;
   bottom: 0;
   width: 100%;
   height: 500px;
   background-color: #383c5c;
   color: #ffffff;
   text-align: center;
   font-weight: 100;
	font-size: 20px;
	font-family: Trebuchet MS;
}